
.badge {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .badge-default {
    background-color: #6c757d;
    color: white;
  }
  
  .badge-primary {
    background-color: #79c2edc1;
    color: #007bff;
  }
  
  .badge-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .badge-success {
    background-color: #50a764a2;
    color: #28a745;
  }
  
  .badge-warning {
    background-color: #ffc107;
    color: black;
  }
  
  .badge-danger {
    background-color: #dc3545;
    color: white;
  }
  