.checkbox-container {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .checkbox-container .checkbox-label {
    font-size: 16px;
  }
  